* {
  margin: 15;
  padding: 0;
  border: 0;
  font-size: 110%;
}

*:focus {
  outline: none;
}

h1 {
  font-size: 170%;
  font-family: sans-serif;
}

ul {
  list-style-type: none;
}

.input {
  padding: 7px;
  background-color: #eee;
  border-radius: 5px;
}
